.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  text-align: center;
  min-height: 48px;
  transition: all 0.3s;
  &.btn-white {
    color: $primary;
    background-color: $white;
    &:hover {
      color: $white;
      background-color: $primary;
    }
  }
}