.info {
	margin: 25px;
	&__container {
		display: flex;
		flex-direction: column;
		gap: 15px;
	}
	&__body {
		max-width: 400px;
		padding: 30px 15px;
		border-radius: 7px;
		background-color: #4d5146;
	}
	&__text {
		color: white
	}
}