.info {
	margin: 25px 0;
	&__container {
		display: flex;
		flex-direction: column;
		gap: 15px;
		max-width: 650px;
	}
	&__body {
		max-width: 300px;
		padding: 30px 15px;
		border-radius: 7px;
		background-color: $secondary;
	}
	&__text {
		color: white;
	}
}