$primary: #8abaa7;
$secondary: #4d5146;
$bgBody: #fffcf3;
$greenAccents: #2EC1AC;
$redAccents: #E97171;
$white: #ffffff;
$fontsize: 16px;
//$fontfamily: 'Gilroy', sans-serif;


$md1:1200px;
$md2:991px;
$md3:767px;
$md4:479px;

$maxWidth: 1440px;
$containerMaxWidth: 1270px;

