$primary: #E89F71;
$secondary: #3A3A3A;
$greenAccents: #2EC1AC;
$redAccents: #E97171;
$gray2: #616161;
$gray3: #898989;
$gray4: #FCF8F3;
$main: #F9F1E7;
$swiperBullet: #D8D8D8;
$darkBlue: #262F56;
$lightBG: #F4F5F7;
$white: #FFFFFF;
$fontsize: 16px;
$fontfamily: 'Gilroy', sans-serif;


$md1:1200px;
$md2:991px;
$md3:767px;
$md4:479px;

$maxWidth: 1440px;
$containerMaxWidth: 1270px;

