.info
	.info__container.container
		.info__body
			.info__text Ошибка выполнения запроса
			.info__text Сообщение ошибки:
		.info__body
			.info__text Оплата за час: 125р
			.info__text Оплата за 8 часов: 1000р