.info
	.info__container.cointainer
		.info__error-block
			.info__error-text Ошибка выполнения запроса
			.info__error-text Сообщение ошибки:
		.info__price-block
			.info__price-text Оплата за час: 125р
			.info__price-text Оплата за 8 часов: 1000р