.table__container
	table.table
		thead.table__header
			tr.table__header-row
				th.table__header-col Дата
				th.table__header-col Сумма
				th.table__header-col Примечание
		tbody.table__body
			tr.table__body-row
				td.table__body-col 01.01.2000
				td.table__body-col 1 000
				td.table__body-col
			tr.table__body-row
				td.table__body-col 02.01.2000
				td.table__body-col 900
				td.table__body-col Мелкими
			tr.table__body-row
				td.table__body-col 03.01.2000
				td.table__body-col 10 000
				td.table__body-col Аванс
			tr.table__body-row
					td.table__body-col Остаток:
					td(colspan="2").table__body-col git 9 999р.